@page "/add-album2"

<PageTitle>Add Album - Vinyl Shop</PageTitle>

<nav aria-label="breadcumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Add Album</li>
    </ol>
</nav>

<p>@testText</p>

<EditForm Model="_album" OnValidSubmit="SumbitForm" >
    <div class="mt-4 mb-5">
        <div class="row">
            <div class="offset-4 col-8 text-right">
                <button class="btn btn-outline-secondary"
                    type="button"
                    onclick="@(() => _album = new AlbumDTO())">Reset
                </button>
                <button class="btn btn-primary"
                    type="submit">Submit
                </button>
            </div>
        </div>
    </div>
</EditForm>

<h3 class="mt-5 mb-4">Add Album</h3>

@code {
    private string testText { get; set; } = "";
    private AlbumDTO _album = new AlbumDTO();

    private async Task SumbitForm()
    {
        testText = "Hello, World - Submit";
        //Отправить данные в API;
    }
}