@page "/search/{SearchAlbum}"
@page "/search/{SearchAlbum}/maxrating/{MaxRating:int}"
@inject HttpClient Http
@inject NavigationManager NavManager

<nav aria-label="breadcrimb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
    </ol>
</nav>

<h3 class="mt-5 mb-4">Search results for @SearchAlbum</h3>
<SearchFilter SearchAlbum="@SearchAlbum" MaxRating="MaxRating" MaxTime="MaxTime"/>

@if (_searchResults == null)
{
    <p>Loading search results...</p>
} 
else
{
    <AlbumDetails Album="_selectedAlbum" />
    <div class="grid">
        @foreach (var album in _searchResults)
        {
            <AlbumCard Album="album" OnSelected="HandleAlbumSelected"/>
        }
    </div>
}


@code {
    private IEnumerable<Album> _cachedSearchResults = Array.Empty<Album>();
    private IEnumerable<Album>? _searchResults;
    private Album? _selectedAlbum;

    [Parameter]
    public string SearchAlbum { get; set; } = default!;
    [Parameter, SupplyParameterFromQuery]
    public int? MaxRating { get; set; }
    [Parameter, SupplyParameterFromQuery]
    public int? MaxTime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allAlbums = await Http.GetFromJsonAsync<IEnumerable<Album>>("albums/album-data.json");
            _searchResults = allAlbums!.Where(x => x.Name.Contains(SearchAlbum, StringComparison.CurrentCultureIgnoreCase)
                || x.AuthorName.Contains(SearchAlbum, StringComparison.CurrentCultureIgnoreCase));
            _cachedSearchResults = _searchResults;
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading album data: {ex.Message}");
        }
    }

    protected override void OnParametersSet() => UpdateFilters();

    private void UpdateFilters()
    {
        var filters = new List<Func<Album, bool>>();

        if (MaxRating is not null && MaxRating > 0)
        {
            filters.Add(x => x.Rating <= MaxRating);
        }

        if (MaxTime is not null && MaxTime > 0)
        {
            filters.Add(x => x.TimeInMinutes <= MaxTime * 60); 
        }

        if (filters.Any())
        {
            _searchResults = _cachedSearchResults.Where(album => filters.All(filter => filter(album)));
        } 
        else
        {
            _searchResults = _cachedSearchResults;
        }
    }

    private void HandleAlbumSelected(Album album) => _selectedAlbum = album;
}